@font-face {
  font-family: franklin;
  src: url("assets/fonts/franklin-normal-400.woff"), url('assets/fonts/franklin-normal-400.woff2');
  font-weight: 400;
}

@font-face {
  font-family: cheltenham;
  src: url("assets/fonts/cheltenham-italic-700.woff2");
  font-style: italic;
  font-weight: 700;
}

body {
  color: #333;
  background-color: white;
  line-height: 1;
}

main{
  align-items: center;
}

nav .line {
  width: 30px;
  height: 50px;
  color: black;
}

div {
  display: block;
}

nav{
  display: flex;
  position: fixed;
  font-size: 100%;
  opacity: 1;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid grey;
  justify-content: space-between;
}

.lines {
  visibility: visible;
  text-size-adjust: 100%;
  cursor: pointer;
  white-space: nowrap;
  color: #333;
  font-size: 11px;
  line-height: 11px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: inline-block;
  height: 16px;
  vertical-align: sub;
  width: 16px;
  margin-left: 30px;
  margin-right: 10px;
}

i {
  padding: 5px;
  height: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

i:hover {
  background: rgb(194, 191, 191);
}

.space {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

.new {
  margin:5px;
  height:30px;
}

.btn {
  right: 30px;
  font-size: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
}

button {
  margin: 5px;
  background: rgb(86, 123, 149);
  cursor: pointer;
  padding: 9px;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  border: 1px solid rgb(50, 104, 145);
}

.title {
  text-align: center;
}

.title h1 {
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  margin-top: 100px;
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30%;
  margin-right:30%;
}
img {
  max-width: 100%;
}

figure h1{
  font-family: cheltenham, Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 700;
  color: #121212;
  font-size: 30px;
}



.nav2 ul {
  display: block;
  text-align: center;
  list-style: outside none none;
  border: 0;
}

.gotohomepage {
  float: right;
  color: rgb(86, 123, 149);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
  vertical-align: baseline;
  margin: 18px 0px 0px auto;
}

.header2 {
  float: left;
} 

a {
  text-decoration: inherit;
  color: #333;
  cursor: pointer;
}

a :hover {
  text-decoration: underline;
  color: #666;
}

footer {
  padding: 0 3% 45px;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 1200px;
  font-size: 11px;
  border-top: #333 1px;
  text-align: center!important;
}

.footerNav {
  border-top: 1px solid #ebebeb;
  border-top-color: rgb(235, 235, 235);
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 9px;
  }

.footerNav li {
  display: inline-block;
  color: #666;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  padding: 0 10px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  line-height: 20px;
}

.footer {
  display: inline-block;
  list-style: none;
  margin: 0 0 35px;
  padding: 0%;
}

.footer nav ul li {
  padding-inline: 4px;
}

.nav2sec {
  flex: 1 1 0%;
}


/*
1:07
aside header h1 {
  font-family: cheltenham, Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  margin: 0;
}
header.main h1 {
  font-family: cheltenham, Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 700;
  color: #121212;
  font-size: 40px;
}*/